[Desktop Entry]
Type=Application
Name=Saturn Update Manager
Comment=Web-based GUI to manage updates for various scripts
Exec=xdg-open http://localhost/saturn/
Icon=system-software-update
Terminal=false
Categories=System;Utility;
