[Desktop Entry]
Name=p2app
Comment=Saturn FPGA Register Read/Write
Icon=/usr/share/pixmaps/obconf.png
Exec=/home/pi/github/Saturn/sw_projects/P2_app/p2app -d
Type=Application
Encoding=UTF-8
Terminal=true
Path=/home/pi/github/Saturn/sw_projects/P2_app
StartupNotify=false
Name[en_US]=P2app
X-KeepTerminal=true
Comment[en_US]=Saturn protocol 2 server
